openapi: 3.0.3
info:
  title: API3 Signed Airnodes API
  description: The API3 Signed API is a self-hosted REST service that stores and serves cryptographically signed oracle data produced by Airnode feed nodes. Airnode operators push signed beacon data to a Signed API instance; dApp developers and OEV searchers then pull that data off-chain for verification or to construct on-chain transactions. Each deployment is scoped to one or more Airnode addresses and exposes configurable public or auth-token-protected endpoints.
  version: 2.0.0
  contact:
    name: API3 DAO
    url: https://api3.org/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://signed-api.api3.org
  description: API3-hosted Signed API (example; operators self-host)
tags:
- name: Airnodes
  description: Airnode address discovery
paths:
  /airnodes:
    get:
      operationId: listAirnodeAddresses
      summary: List Airnode addresses
      description: Returns all Airnode addresses whose signed data is stored in this Signed API instance.
      tags:
      - Airnodes
      security:
      - {}
      responses:
        '200':
          description: List of Airnode EVM addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirnodeListResponse'
              example:
                count: 2
                data:
                - '0xA30CA71Ba54E83127214D3271aEA8F5D6bD4Dace'
                - '0xC04575A2773Da9Cd23853A69694e02111b2c4182'
components:
  schemas:
    AirnodeListResponse:
      type: object
      required:
      - count
      - data
      properties:
        count:
          type: integer
          description: Number of Airnode addresses in this deployment
          example: 2
        data:
          type: array
          items:
            $ref: '#/components/schemas/EvmAddress'
          description: List of Airnode EVM addresses
    EvmAddress:
      type: string
      pattern: ^0x[0-9a-fA-F]{40}$
      description: EVM checksummed address (42 hex characters with 0x prefix)
      example: '0xA30CA71Ba54E83127214D3271aEA8F5D6bD4Dace'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token configured in the Signed API's allowedAirnodes or endpoint authTokens list. Required on endpoints or Airnode addresses configured with non-null authTokens.
externalDocs:
  description: API3 Documentation
  url: https://docs.api3.org/
